# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Configurations for EditorConfig.
# See https://docs.npmjs.com/cli/v9/using-npm/developers#keeping-files-out-of-your-package for more details.

assets/**
src/**
.circleci/**
.github/**
.babelrc
.editorconfig
.gitattribute
.gitignore
.npmrc
.stylelintrc.js
.travis.yml
package-lock.json
prettier.config.js
