.hljs-selector-tag {
  color: $nord9;
}

.hljs-selector-id {
  color: $nord7;
  font-weight: bold;
}

.hljs-selector-class {
  color: $nord7;
}

.hljs-selector-attr {
  color: $nord7;
}

.hljs-selector-pseudo {
  color: $nord8;
}
