.hljs-attr {
  color: $nord7;
}

.hljs-attribute {
  color: $nord4;
}

.hljs-builtin-name {
  color: $nord9;
}

.hljs-name {
  color: $nord9;
}

.hljs-section {
  color: $nord8;
}

.hljs-tag {
  color: $nord9;
}

.hljs-variable {
  color: $nord4;
}
